@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');


$font1: 'Prompt', sans-serif;

$font2: 'Kaushan Script', cursive;

$font3: 'Raleway', sans-serif;

$base-color: whitesmoke;

$success-color: lightgreen;

$error-color: tomato;

$default-background: src="../crud/books.jpg";